/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-to-top i {
    font-size: 24px;
    /* position: absolute; */
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: display 0.2s ease-in-out;
  }