/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("./img/hero-bg.jpg") top center;
    background-size: cover;
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
  }

@keyframes fadein{
  0% { opacity:0; }
  25% { opacity:.25; }
  50% { opacity:.5; }
  75% { opacity:.75; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  25% { opacity:.25; }
  50% { opacity:.5; }
  75% { opacity:.75; }
  100% { opacity:1; }
}
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }





  /**********Btn flotante**********/

  .container-menuBtn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    height: 285px;
    width: auto;
    z-index: 5;
    /* background: #fff; */
  }

  .container-menuBtn .menuBtn,.container-menuBtn .menuBtnMain{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #149ddd;
    color:#fff;
    font-size: 24px;
    background-color: rgb(25, 118, 210);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; */
    box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75);
    cursor:pointer;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 6px;
    transition: all .5s;
  }

  .container-menuBtn .menuBtn.blue{
    background-color: rgb(25, 118, 210);
    color:#fff;
  }

  .container-menuBtn .menuBtn.red{
    background-color: #dd4b39;
    color:#fff;
  }

  .container-menuBtn .menuBtn.green{
    background-color: #00a65a;
    color:#fff;
  }

  .container-menuBtn .menuBtn.yellow{
    background-color: #f39c12;
    color:#fff;
  }

  .displayOff{
    -webkit-animation: .5s ease 0s normal forwards 1 displayNone;
    animation: .5s ease 0s normal forwards 1 displayNone;
    overflow: hidden;
  }

  .displayOn{
    -webkit-animation: .5s ease 0s normal forwards 1 displayOn;
    animation: .5s ease 0s normal forwards 1 displayOn;
    overflow: hidden;
  }

  @keyframes displayNone{
    0% { opacity:1; transform: scale(1); font-size: 19.2}
    25% { opacity:.75; transform: scale(.75); font-size: 14.4}
    50% { opacity:.5; transform: scale(.5); font-size: 9.6}
    75% { opacity:.25; transform: scale(.25); font-size: 4.8}
    100% { opacity:0;  transform: scale(0); font-size: 0;}
  } 


  @-webkit-keyframes displayNone{
    0% { opacity:1; transform: scale(1); font-size: 19.2}
    25% { opacity:.75; transform: scale(.75); font-size: 14.4}
    50% { opacity:.5; transform: scale(.5); font-size: 9.6}
    75% { opacity:.25; transform: scale(.25); font-size: 4.8}
    100% { opacity:0;  transform: scale(0); font-size: 0;}
  }  

  @keyframes displayOn{
    0% { opacity:0; height: 0; width: 0; font-size: 0;}
    25% { opacity:.25; height: 12; width: 12; font-size: 4.8}
    50% { opacity:.5; height: 24; width: 24; font-size: 9.6}
    75% { opacity:.75; height: 36; width: 36; font-size: 14.4}
    100% { opacity:1; height: 48;  width: 48; font-size: 19.2}
  }

  @-webkit-keyframes displayOn{
    0% { opacity:1; height: 48;  width: 48; font-size: 19.2}
    25% { opacity:.75; height: 36; width: 36; font-size: 14.4}
    50% { opacity:.5; height: 24; width: 24; font-size: 9.6}
    75% { opacity:.25; height: 12; width: 12; font-size: 4.8}
    100% { opacity:0; height: 0; width: 0; font-size: 0;}
  } 

  .container-menuBtn .menuBtnMain:hover{
    transform: rotate(-25deg);
    background-color: rgb(19, 87, 154);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px -2px, rgba(0, 0, 0, 0.28) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 1px 5px 0px;
  }

  .container-menuBtn .menuBtn.blue:hover{
    background-color: rgb(19, 87, 154);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px -2px, rgba(0, 0, 0, 0.28) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 1px 5px 0px;
  }

  .container-menuBtn .menuBtn.red:hover{
    background-color: #c5180c;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px -2px, rgba(0, 0, 0, 0.28) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 1px 5px 0px;
  }

  .container-menuBtn .menuBtn.green:hover{
    background-color: #0f7346;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px -2px, rgba(0, 0, 0, 0.28) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 1px 5px 0px;
  }

  .container-menuBtn .menuBtn.yellow:hover{
    background-color: #ad7111;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 1px -2px, rgba(0, 0, 0, 0.28) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 1px 5px 0px;
  }


/***************emulando a materials emitiendo ondas en posición fija***************/
  /* .container-menuBtn .menuBtn,.container-menuBtn .menuBtnMain{
    overflow: hidden;
} 

.container-menuBtn i:after {
    content: "";
    background: #053174;
    display: block;
    position: absolute;
    padding-top: 200%;
    padding-left: 200%;
    margin-left: -20px!important;
    margin-top: -20px!important;  
    opacity: 0;
    border-radius:100%;
    transition: all 1s;
  } 
  
  .container-menuBtn i:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  } 
     */

 /***************emulando a materials emitiendo ondas donde se de click***************/

  /* Caja de las ondas*/
.waves-ripple {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Animación para la caja de las ondas*/
.waves-animate {
  -webkit-animation: waves_ripple-animate 0.5s linear;
          animation: waves_ripple-animate 0.5s linear;
}

@-webkit-keyframes waves_ripple-animate {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes waves_ripple-animate {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

/******Descripción del botón********/

.container-menuBtn .label-title span{
  display:block;
  margin-right:18px;
  font-size:12px;
  background:#181717;
  color:#fff;
  padding:6px;
  border-radius:6px;
  border-bottom: 1px solid #ccc;
  /* box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -6px 5px 11px -3px rgba(0,0,0,0.75); */
}

.container-menuBtn .label-title span::after{
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
    font-weight: bold;
    position: absolute;
    right: 66px;
    top: 23px;
    color:#181717;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px; 
   
}